<div>
  <c-modal-header>
    <h5 cModalTitle>Change Password</h5>
  </c-modal-header>
  <c-modal-body>
    <form cForm [formGroup]="formUpdatePass">
      <div>
        <label for="password">Password:</label>
        <input type="number" id="password" placeholder="Write your password" cFormControl formControlName="password">
      </div>
      <div>
        <label for="password">Confirm Password:</label>
        <input type="number" id="confirmPassword" placeholder="Confirm password" cFormControl
          formControlName="confirmPassword">
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="save()">save</button>
  </c-modal-footer>
</div>