<main>
    <div class="container">
        <div class="teste">
            <div>
                <a routerLink="/login"><svg cIcon name="cilAccountLogout" id="exit"></svg></a>
            </div>
            <img src="../../../assets/img/avatars/1.jpg" alt="avatar">
        </div>
        <div class="informations">
            <div class="name">
                <p>Name: {{ user.name }} <a (click)="openModalName()"><svg cIcon name="cilPen"></svg></a></p>
            </div>
            <div class="email">
                <p>Email: {{ user.email }}</p>
            </div>
            <div class="password">
                <p>Password: {{ user.password }} <a (click)="openModalPass()"><svg cIcon name="cilPen"></svg></a>
                </p>
            </div>
        </div>
    </div>
</main>