<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="8" xl="6">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>

                <form [formGroup]="formNewPassword">

                  <h1>New Password</h1>
                  <p class="text-medium-emphasis">Choice your new password</p>
                  
                  <c-input-group class="mt-2">
                    <span cInputGroupText style="color: #fff; background: #1a1a1a; border: solid 1px #1a1a1a;">@</span>
                    <input cFormControl placeholder="Email" formControlName="email" style="border: solid 1px #1a1a1a;"/>
                  </c-input-group>

                  <span *ngIf="getForm('email')?.invalid && (getForm('email')?.dirty || getForm('email')?.touched)"  class="validator">
                    <div *ngIf="getForm('email')?.errors?.['required']">
                      Email is required.
                    </div>
                    <div *ngIf="getForm('email')?.errors?.['email']">
                      Email is invalid.
                    </div>
                  </span>
  
                  <c-input-group class="mt-2">
                    <span cInputGroupText style="background: #1a1a1a; border: 1px solid #1a1a1a; color: #fff;">
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input autoComplete="current-password" cFormControl placeholder="New password" type="password" formControlName="newPassword" style="border: solid 1px #1a1a1a;"/>
                  </c-input-group>

                  <span
                  *ngIf="getForm('newPassword')?.invalid && (getForm('newPassword')?.dirty || getForm('newPassword')?.touched)"
                  class="validator">
                  <div *ngIf="getForm('newPassword')?.errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="getForm('newPassword')?.errors?.['minlength']">
                    Password must be at least 8 characters long.
                  </div>
                </span>

                  <div class="d-grid mt-2">
                    <button cButton class="px-4" (click)="savePassword()" style="background: #BE0000; border: solid 1px #BE0000; font-weight: 500;">  
                      Save
                    </button>
                  </div>

                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
