<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="8" xl="6">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>

                <form [formGroup]="formNewPassword">

                  <h1>New Password</h1>
                  <p class="text-medium-emphasis">Choice your new password</p>
                  
                  <c-input-group class="mb-3">
                    <span cInputGroupText style="color: #fff; background: #1a1a1a; border: solid 1px #1a1a1a;">@</span>
                    <input autoComplete="current-password" cFormControl placeholder="Email" formControlName="email" style="border: solid 1px #1a1a1a;"/>
                  </c-input-group>
  
                  <c-input-group class="mb-4">
                    <span cInputGroupText style="background: #1a1a1a; border: 1px solid #1a1a1a; color: #fff;">
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input autoComplete="current-password" cFormControl placeholder="New password" type="password" formControlName="newPassword" style="border: solid 1px #1a1a1a;"/>
                  </c-input-group>

                  <div class="d-grid">
                    <button cButton class="px-4" (click)="savePassword()" style="background: #BE0000; border: solid 1px #BE0000; font-weight: 500;">  
                      Save
                    </button>
                  </div>

                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
