<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="formUsuario">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>

              <c-input-group class="mt-2">
                <span cInputGroupText style="color: #fff; background: #1a1a1a; border: solid 1px #1a1a1a;">
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" formControlName="name" required
                  style="border: solid 1px #1a1a1a;" />
              </c-input-group>

              <span *ngIf="getForm('name')?.invalid && (getForm('name')?.dirty || getForm('name')?.touched)" class="validator">
                <div *ngIf="getForm('name')?.errors?.['required']">
                  Name is required.
                </div>
                <div *ngIf="getForm('name')?.errors?.['minlength']">
                  Name must be at least 4 characters long.
                </div>
              </span>

              <c-input-group class="mt-2">
                <span cInputGroupText style="color: #fff; background: #1a1a1a; border: solid 1px #1a1a1a;">@</span>
                <input autoComplete="email" cFormControl placeholder="Email" formControlName="email" required
                  style="border: solid 1px #1a1a1a;" />
              </c-input-group>

              <span *ngIf="getForm('email')?.invalid && (getForm('email')?.dirty || getForm('email')?.touched)"  class="validator">
                <div *ngIf="getForm('email')?.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="getForm('email')?.errors?.['email']">
                  Email is invalid.
                </div>
              </span>

              <c-input-group class="mt-2">
                <span cInputGroupText style="color: #fff; background: #1a1a1a; border: solid 1px #1a1a1a;">
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="password" cFormControl placeholder="Password" type="password"
                  formControlName="password" required style="border: solid 1px #1a1a1a;" />
              </c-input-group>

              <span *ngIf="getForm('password')?.invalid && (getForm('password')?.dirty || getForm('password')?.touched)"
              class="validator">

                <div *ngIf="getForm('password')?.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="getForm('password')?.errors?.['minlength']">
                  Password must be at least 4 characters long.
                </div>

              </span>

              <div class="d-grid mt-2">
                <button cButton color="success" (click)="sendRequest()"
                  style="background: #BE0000; border: solid 1px #BE0000; color: #fff; font-weight: 500;">Create
                  Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>